.row{
  min-height: 50px;
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.icon-group{
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.comments mat-icon {
  padding-top: 1px;
}

.comments span{
  margin-left: 7px;
}
